

<h1><%= @sub.title %></h1>
<%= @sub.description %>

<ul>
<% @sub.posts.each do |post| %>
<li><a href="<%= post_url(post)%>"><%= post.title %></a> by <%= post.author.username %></p></li>
<br>
<% end %>
</ul>
