<h1><%= @post.title %> by <a href="<%= user_url(@post.author)%>"><%= @post.author.username %></a></h1>
<p><%= @post.content %></p>


<h3>see post in</h3>

<ul>
<% @post.subs.each do |subr| %>
<li><a href="<%= sub_url(subr) %>"><%= subr.title %></a></li>
<% end %>
</ul>

<a href="<%= subs_url %>"><h6>All Subs</h6></a>